<div id="map-canvas" class="map-place"></div>
<div id="directions-panel"></div>

<input type="hidden" id="user_lat" value=<%= user_add.lat%>>
<input type="hidden" id="user_lng" value=<%= user_add.long%>>
<input type="hidden" id="serv_lat" value=<%= serv[:lat]%>>
<input type="hidden" id="serv_lng" value=<%= serv[:long]%>>
