<%= content_for :header_css do %>
  <%= stylesheet_link_tag "search_service" %>
<%end%>

<% content_for :header_js do %>
  <%= javascript_include_tag "search_service" %>
  <%= javascript_include_tag "search_service_starter" %>
<% end %>

<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li><a href="javascript:;">Form Stuff</a></li>
		<li class="active">Form Plugins</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Form Plugins <small>header small text goes here...</small></h1>
	<!-- end page-header -->
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-md-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Procura de Profissional de Limpeza</h4>
				</div>
				<div class="panel-body panel-form">
					<form class="form-horizontal form-bordered">
						<div class="form-group">
							<label class="control-label col-md-1">Localidade</label>
							<div class="col-md-5">
								<select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white">
									<option value="" selected>Selecione uma cidade</option>
									<option value="AF">Afghanistan</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="AS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and Barbuda</option>
								</select>
							</div>
							<label class="control-label col-md-1">Frequesia</label>
							<div class="col-md-5">
								<select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white">
									<option value="" selected>Selecione uma freguesia</option>
									<option value="AF">Afghanistan</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="AS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and Barbuda</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-1"> Serviço</label>
							<div class="col-md-5">
								<label class="radio-inline">
									<input type="radio" name="optionsRadios" value="option1" checked />
									Limpeza geral
								</label>
								<label class="radio-inline">
									<input type="radio" name="optionsRadios" value="option2" />
									Engomadoria
								</label>
								<label class="radio-inline">
									<input type="radio" name="optionsRadios" value="option3" />
									Refeição
								</label>
								<label class="radio-inline">
									<input type="radio" name="optionsRadios" value="option4" />
									Compras para o lar
								</label>
							</div>
							<label class="control-label col-md-1">Hora inicio</label>
							<div class="col-md-2">
								<div class="input-group bootstrap-timepicker">
									<input id="timepickerBegin" type="text" class="form-control" />
									<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
								</div>
							</div>
							<label class="control-label col-md-1">Hora fim</label>
							<div class="col-md-2">
								<div class="input-group bootstrap-timepicker">
									<input id="timepickerEnd" type="text" class="form-control" />
									<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

</div>
<!-- end page container -->