<div class="login bg-black animated fadeInDown">
	<br/>
	<center>
		<a id="logo-container" href="index.html" class="navbar-brand">
			<img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
		</a>
	</center>
	<div class="login-content">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "margin-bottom-0"}) do |f| %>
		<div class="form-group m-b-20">

			<%= f.input :email, label: false, placeholder: 'Email', required: false, autofocus: true, input_html: {class: "form-control input-lg"} %></div>
		<div class="form-group m-b-20">
			<%= f.input :password, label: false, placeholder: 'Password', required: false, input_html: {class: "form-control input-lg"} %></div>
		<div class="checkbox m-b-20">
			<label>
				<%= f.input :remember_me, label: false,  inline_label: 'Remember Me', as: :boolean if devise_mapping.rememberable? %></label>
		</div>
		<div class="login-buttons">
			<button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
		</div>
		<% end %>
	</div>
</div>
